<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Cryptocurrency Price Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>



    <div id="container">
        <div id="square">
            <form method="POST" action="{{ url_for('form') }}">
                {{ form.csrf_token }}
                <div id="dropdown">
                    {{ form.cryptocurrency }}
                    to USD
                </div>

                <div id="datepicker">
                    Select the starting date:
                    <br>
                    {{ form.date }}
                </div>

                <input id="btn" type="submit" value="Predict">

                <img src="{{ url_for('static', filename='plot.png') }}">
            </form>
        </div>
    </div>



</body>

</html>